.visit-item {
  width: 30%;
  background-color: blueviolet;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
}
.remove {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
.country-img {
  width: 100%;
  border-radius: 10px;
}
.remove-btn {
  background-color: transparent;
  border: 0.5px solid white;
  color: white;
  border-radius: 7px;
  height: 30px;
}
